<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Science Search Engine</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        Header section! This is a header for the Data Science Search Engine
    </header>

    <main>
        <section id="search-section">
            <input type="text" id="search-bar" placeholder="What is Data Science">
            <button id="search-btn">Search</button>
        </section>

        <section id="query-viz-container">
            <!-- D3 Query Visualization Goes Here -->
        </section>

        <section id="article-viz-container">
            <!-- D3 Article Visualization Goes Here -->
        </section>

        <section id="corpus-viz-container">
            <!-- D3 Corpus Visualization Goes Here -->
        </section>

        <section id="results-section">
            <table id="results-table">
                <!-- Results Populate Here -->
            </table>
        </section>
    </main>

    <footer>
        <!-- Copyright and Additional Info -->
    </footer>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/d3_viz.js"></script>
</body>
</html>
